.localComit{
    border: 1px solid rgb(202, 202, 202);
    width: 700px;
    height: 400px;
    margin: 0 auto;

}
.img_backcomit{
    width: 126px;
    margin-left: 60px;
    
}
.textComit p{
    font-size: 22px;
    color: #909090;
}